<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validate Ticket</title>
    <link rel="stylesheet" href="/static/styles_admin.css">
</head>
<body>
    <nav>
        <a href="/admin">View Student</a>
        <a href="/admin/stops">Bus Stops</a>
        <a href="/logout">Logout</a>
    </nav>
    
    <div class="admin-container">
        <div id="validate-ticket-section" class="section">
            <h2>Validate Ticket</h2>
            <form>
                <label for="ticket-id">Ticket ID</label>
                <input type="text" id="ticket-id" name="ticket-id" required>
                
                <button type="submit">Validate</button>
            </form>
            <div id="status">
                {% if valid %}
                    <p>✔️ Ticket is Valid</p>
                {% elif invalid %}
                    <p>❌ Ticket is Invalid</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>

