<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
    <link rel="stylesheet" href="/static/style_admin_student.css">
</head>

<body>
    <nav>
        <a href="/admin">View Student</a>
        <a href="/admin/validate">Validate Ticket</a>
        <a href="/admin/stops">Bus Stops</a>
        <a href="/logout">Logout</a>
    </nav>
    <div class="admin-container">
    <div class="table-container">
        <table class="pass">
            <tr>
                <td colspan="2" class="photo-cell"><img height="200px" src="/photo?id={{AdmissionId}}"></td>
            </tr>
            <tr>
                <td>AdmissionId</td>
                <td>{{AdmissionId}}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{Name}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{Email}}</td>
            </tr>
            <tr>
                <td>Department</td>
                <td>{{Department}}</td>
            </tr>
        </table>
        <hr>
        {% if bus_pass %}
        <table class="pass">
            <tr>
                <th>Place</th>
                <th>Validity</th>
                <th></th>
            </tr>
            {% for ticket in bus_pass %}
                <tr>
                    <td>{{ticket[1]}}</td>
                    <td>{{get_readable_time(ticket[2])}}</td>
                    <td>
                        <form method="get" action="/admin/details">
                            <input type="hidden" value="{{AdmissionId}}" name="id">
                            <input type="hidden" value="{{ticket[3]}}" name="pass">
                            <button type="submit">Reject</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>No Tickets Found</p>
        {% endif %}
    </div>
    
</body>

</html>