<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validate Ticket</title>
    <link rel="stylesheet" href="/static/styles_admin.css">
</head>
<body>
    <nav>
        <a href="/admin">View Student</a>
        <a href="/admin/stops">Bus Stops</a>
        <a href="/logout">Logout</a>
    </nav>
    
    <div class="admin-container">
        <div id="validate-ticket-section" class="section">
            <h2>Validate Ticket</h2>
            <form>
                <label for="ticket-id">Ticket ID</label>
                <input type="text" id="ticket-id" name="ticket-id" required>
                
                <button type="submit">Validate</button>
            </form>
            <div id="status">
                {% if key %}
                    {% if ticket %}
                        <table class="pass">
                            <tr>
                                <td>Photo</td>
                                <td class="photo-cell"><img height="200px" src="/photo?id={{ticket[0]}}"></td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>{{user[1]}}</td>
                            </tr>
                            <tr>
                                <td>Department</td>
                                <td>{{user[4]}}</td>
                            </tr>
                            <tr>
                                <td>Admission No</td>
                                <td>{{ticket[0]}}</td>
                            </tr>
                            <tr>
                                <td>Validity</td>
                                <td>{{validity}}</td>
                            </tr>
                            <tr>
                                <td>From/To</td>
                                <td>{{ticket[1]}}</td>
                            </tr>
                            <tr>
                                <td>Ticket Id</td>
                                <td>{{ticket[3]}}</td>
                            </tr>
                        </table>
                    {% else %}
                        <p>❌ Ticket is Invalid</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>

