<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Today's Tickets</title>
    <link rel="stylesheet" href="/static/styles/global.css">
</head>

<body>
    <!-- Navigation -->
    <nav>
        <ul>
            <li><a href="/admin">Home</a></li>
            <li><a href="/admin/students">Manage Students</a></li>
            <li><a href="/admin/validate">Validate Tickets</a></li>
            <li><a href="/admin/stops">Manage Bus Stops</a></li>
            <li><a href="/admin/departments">Manage Departments</a></li>
            <li><a href="/admin/tickets/purchased">Tickets Purchased</a></li>
            <li><a href="/admin/tickets/regular">Regular Tickets</a></li>
            <li><a href="/logout" class="nav-link">Logout</a></li>
        </ul>
    </nav>

    <!-- Main Content -->
    <main class="admin-content">
        <section class="admin-section">
            <h2 class="section-title">Today's Tickets</h2>
            <form method="post">
            <!-- Tickets Table -->
            <table class="admin-table">
                <thead>
                    <tr>
                        <th colspan="6">Student</th>
                    </tr>
                    <tr>
                        <th>Select</th>
                        <th>Sl No</th>
                        <th>Ticket ID</th>
                        <th>Place</th>
                        <th>From</th>
                        <th>To</th>
                    </tr>
                </thead>
                <tbody>
                    {% if passes %}
                    {% for no, row in passes %}
                    <tr>
                        <td>
                        {% if today in row[5] %}
                            <input type="checkbox" disabled checked>
                        {% else %}
                            <input type="checkbox" name="student" value="{{row[2]}}">
                        {% endif %}
                        </td>
                        <td>{{no}}</td>
                        <td>
                            <a href="/admin/validate?ticket-id={{row[2]}}" class="link-ticket">{{row[2]}}</a>
                        </td>
                        <td>{{row[1]}}</td>
                        <td>{{row[3]}}</td>
                        <td>{{row[4]}}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr><td colspan="6">No Students</td></tr>
                    {% endif %}
                </tbody>
            </table>
            <table class="admin-table">
                <thead>
                    <tr>
                        <th colspan="6">Staff</th>
                    </tr>
                    <tr>
                        <th>Select</th>
                        <th>Sl No</th>
                        <th>Ticket ID</th>
                        <th>Place</th>
                        <th>Total Days</th>
                        <th>Days Left</th>
                    </tr>
                </thead>
                <tbody>
                    {% if staff %}
                    {% for no, row in staff %}
                    <tr>
                        <td>
                        {% if today in row[4] %}
                            <input type="checkbox" disabled checked>
                        {% else %}
                            <input type="checkbox" name="staff" value="{{row[2]}}">
                        {% endif %}
                        </td>
                        <td>{{no}}</td>
                        <td>
                            <a href="/admin/validate?ticket-id={{row[2]}}" class="link-ticket">{{row[2]}}</a>
                        </td>
                        <td>{{row[1]}}</td>
                        <td>{{row[3]}}</td>
                        <td>{{row[3] - row[4]|length}}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <th colspan="6">Staff</th>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            {% if passes or staff %}
            <input type="submit" value="Submit">
            {% endif %}
            </form>
        </section>
    </main>
</body>

</html>
