<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" href="/static/styles_c.css">
</head>
<body>
    <div class="create-account-container">
        <h1>Create Account</h1>
        <form method="post" action="/signup" enctype="multipart/form-data">
            <label for="photo">Photo</label>
            <input type="file" id="photo" name="photo" accept="image/*" required>
            
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>

            <label for="email">E-Mail</label>
            <input type="email" id="email" name="email" required>

            <label for="password">password</label>
            <input type="password" id="pass" name="pass" onchange="check_pass()" required>

            <label for="cnf-password">Confirm password</label>
            <input type="password" id="cnf-pass" name="cnf-pass" onchange="check_pass()" required>
            
            <label for="admission-number">Admission Number</label>
            <input type="text" id="admission-number" name="admission-number" required>
            
            <label for="department">Department</label>
            <select id="department" name="department" required>
                <option value="Computer Engineering">Computer Engineering</option>
                <option value="Civil Engineering">Civil Engineering</option>
                <option value="Electrical Electronics Engineering">Electrical and Electronics Engineering</option>
                <option value="Electronics Engineering">Electronics Engineering</option>
                <option value="Mechanical Engineering">Mechanical Engineering</option>
            </select>
            
            <button type="button" id="submit">Create Account</button>
        </form>
    </div>
    <script>
        function check_pass(){
            var pass = document.getElementById("pass").value;
            var cnf_pass = document.getElementById("cnf-pass").value;
            if (pass && cnf_pass){
                if(pass == cnf_pass){
                    document.getElementById("cnf-pass").style.borderColor = "green";
                    document.getElementById("pass").style.borderColor = "green";
                    document.getElementById("submit").type="submit";
                }
                else{
                    document.getElementById("pass").style.borderColor = "red";
                    alert("Passwords do not match");
                }
            }
        }
    </script>
</body>
</html>

