<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply for Ticket</title>
    <link rel="stylesheet" href="/static/styles/global.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/staff">Home</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="apply-ticket">
        <form class="ticket-form" method="post" action="/staff/order/confirm">
            <div class="form-group">
                <label for="name">Name:</label>
                <p id="name" name="name" class="value">{{ name }}</p>
            </div>
            
            <div class="form-group">
                <label for="department">Department:</label>
                <p id="department" name="department" class="value">{{ department }}</p>
            </div>
            
            <div class="form-group">
                <label for="from-to">From/To:</label>
                <select id="from-to" name="from-to" onchange="update_price()" required>
                    {% for row in place %}
                    <option price={{ row[1] }} value={{ row[0] }}>{{ row[0] }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="form-group">
                <label for="ticket-price">Ticket Price per Day:</label>
                <input type="number" id="ticket-price" name="ticket-price" class="value" readonly>
            </div>            
                <div class="form-group">
                    <label for="datefrom">Days</label>
                    <input type="number" id="days" name="days" onchange="update_price()" required>
                </div>
            
            <div class="form-group">
                <label for="admin-no">Aadhar No:</label>
                <p id="admin-no" name="admin-no" class="value">{{ aadhar_no }}</p>
            </div>

            <div class="form-group">
                <label for="phone">Phone Number:</label>
                <input type="tel" id="phone" name="phone" class="value" required>
            </div>
            
            <div class="form-group">
                <button type="submit" id="pay" class="pay-button" style="display: none;">Pay</button>
            </div>
        </form>
    </div>

    <script>
function update_price() {
    var days = document.getElementById("days").value;
    var pay = document.getElementById("pay");
    var ticket_price = document.getElementById("ticket-price");

    var selectElement = document.getElementById("from-to");
    var selectedOption = selectElement.options[selectElement.selectedIndex];
    var price = parseFloat(selectedOption.getAttribute("price"));
    ticket_price.value = price

    if (days > 0) {
        var amount = price * days;
        pay.innerHTML = `Pay ₹${amount}`;
        pay.style.display = "block";
    } else {
        pay.style.display = "none";
    }
}
    window.onload=update_price();
    </script>
</body>
</html>
