body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    background-color: #007BFF;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

nav a {
    padding: 10px 20px;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
}

nav a:hover {
    background-color: #0056b3;
    border-radius: 5px;
}

nav a.active {
    background-color: #0056b3;
    border-radius: 5px;
}

.admin-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    text-align: left;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button[type="submit"] {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#status {
    margin-top: 20px;
    font-size: 16px;
}

